# build folder
out/
dist/

# Dependency directories
node_modules/
jspm_packages/
package-lock.json

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.parcel-cache

pnpm-lock.yaml

.vscode
